*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.profile{
  border-radius: 50%;
  width: 200px;

}
body{
  background-image: url(./backgroungimage.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;


}
.profile-container p{
  padding: 0 30vh;
  text-align-last: center;
}

.profile-pic{
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
.profile-container{
  height:80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile-container1{
  display: flex;
  align-items: center;
gap: 20vh;
}
.profile-container1>h1{
  line-height: 48px;
}
.profile-container >p{
font-size:x-large;
padding-top: 10vh;
padding-right: 20vh;
color: rgb(1, 9, 15);
background: blend mode 1px;;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
height: 20vh;
position: sticky;
top: 0%;

z-index: 1;
}
.link{
  color: rgb(236, 232, 232);
  text-decoration: none;
  background-color: rgb(16, 160, 217);
  padding: 5px 10px;
  border-radius: 15px;
}
.link:hover{
  background-color: rgb(4, 73, 101);
}
.skil-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
gap: 20px;
}
.skil-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skil-img{
  background-color: rgb(142, 117, 117);
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
box-shadow: 10px 10px 5px gray;
}
.skil-img:hover{

  padding: 0%;
}
.skil-box>h2{
 text-shadow: 5px 5px 10px black ;
}
.project-comp{
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 5px black;
  background: linear-gradient(rgb(232, 239, 14), rgb(245, 245, 245)60%);

}
.project-link{
  text-decoration: none;
  display: flex;
  align-items:center;
  justify-content: space-between;
background-color: whitesmoke;
height: 25vh;
width: 100%;
border-radius: 0 0 20px 20px;
padding: 0 5px;
}
.project-title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  width: 100%;
}
.project-link>a{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
}
.github-link{
  background-color: black;
  color: white;
}
.host-link{
  background-color: white;
  color: black;
}
.project-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.github{
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}
.linkedin{
  color: white;
  background-color: rgb(19, 56, 180);
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}
.profile-link{
  display: flex;
  gap: 20vh;
  padding: 30px;
  padding-bottom: 20px;
  border-bottom:3px solid black;
}
.naukri{
  color: white;
  background-color: rgb(4, 99, 85);
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}
.resume{
  color:white;
  background-color:rgb(242, 59, 66);
  text-decoration: none;
  padding: 10px;
  border-radius: 20px;
}
